<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCARSHome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LCARSHome.Properties.Settings>
            <setting name="ExitDelay" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EntryDelay" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ArmDelayHome" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IdleTimeoutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ControllerType" serializeAs="String">
                <value>OpenZWave</value>
            </setting>
            <setting name="IdleTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeID" serializeAs="String">
                <value>15101900</value>
            </setting>
        </LCARSHome.Properties.Settings>
    </applicationSettings>
</configuration>